@font-face {
  font-family: 'Monoton';
  font-style: normal;
  font-weight: 400;
  src: local('Monoton'), local('Monoton-Regular'),
       url('./fonts/monoton/monoton-regular.woff2') format('woff2'),
       url('./fonts/monoton/monoton-regular.woff') format('woff');
}
