@import "../../styles/variables";

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: $header-height;
    background-color: $color-primary-dark;
    z-index: 1;
}

.header-title {
    width: 100%;
    color: $color-primary-light;
    text-align: center;
    font-weight: 300;
    line-height: 48px;
    font-size: 20px;
}

.header-buttons {
    position: absolute;
    right: 0;
    top: 0;
}

.header-go-back {
    position: absolute;
    top: 0px;
    line-height: 49px;
    left: 19px;
    color: white;
    cursor: pointer;
}

.header-button {
    width: auto;
    font-size: 14px;
    margin-top: 0px;
    padding: 0 20px;
    background-color: lighten($color-primary-dark, 15%);
    color: white;
    text-transform: uppercase;
    box-sizing: border-box;
    height: 50px;
    line-height: 50px;
    transition: all .2s;

    &:hover {
        background-color: lighten($color-primary-dark, 18%);
    }
}