.password-input-container {
    position: relative;
}

.password-input {
    width: 400px;
    padding-right: 90px !important;
}

.password-input-toggle {
    right: 45px;
}

.password-copy {
    right: 10px;
}