@import "../../styles/variables";

.password-input-container {
    position: relative;
    margin-bottom: 30px;
}

.password-input {
    width: 400px;
    padding-right: 90px !important;
}

.password-input-toggle {
    right: 45px;
}

.password-copy {
    right: 10px;
}

.password-copy-message {
    position: absolute;
    right: 13px;
    top: 5px;
    color: $green;
    font-size: 0.7rem;
    opacity: 1;
    transform: translate(0, 0);
    transition: all .3s;
}
.password-copy-message-hide {
    opacity: 0;
    transform: translate(0, -5px);
}

.password-generate {
    position: absolute;
    left: 5px;
    bottom: -20px;
    color: #3e3e3e;
    font-size: 0.8rem;
    cursor: pointer;
    opacity: 1;
    transform: translate(0, 0);
    transition: all .3s;

    &:hover {
        text-decoration: underline;
    }
}
.password-generate-hide {
    opacity: 0;
    transform: translate(0, -5px);
}