.init-description {
    color: #9d9d9d;
    width: 270px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.init-description pre {
    display: inline-block;
    color: #c5c4c4;
    font-family: monospace;
    font-weight: bold;
}